*{
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
    font-family: 'Fredoka One', sans-serif;
    

}

h1{
    text-align: center;
    color: #E52C6C;
    margin-bottom: 50px;
    display: block;
    
}

.intro{
    text-align: center;
    display: block;

}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.clearfix::after{
    content:"" ;
    clear: both;
    display: table;

}

.primo{
    background-color: black;
    width: 250px;
    display: inline-block;
    height: 80px;
    
    
}

img{
    float: left;
    height: 80px;
    margin-right: 10px;
}

.box > * {
    color: white;
    margin-top: 55px; margin-left: 30px;
    float: left; 
    width: calc(33.33% - 40px);
    line-height: 20px;
    font-size: 12px;
}
    
h4{
    margin-top: 5px;
}
    
.lavoro{
    margin-top: 5px;
}





.mailto{
    margin-top:5px;
    
}

a{
    color: lightblue;
}


